html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ac-center {
  align-content: center;
}

.as-center {
  align-self: center;
}

.font-Rubik {
  font-family: "Rubik", sans-serif;
}

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.nav-hover-color {
  color: #c49b66;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
}

.full-width {
  width: 100% !important;
}

.home-headline {
  line-height: 1.2;
}

.butn {
  padding: 12px 34px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.butn:hover {
  text-decoration: none;
}

.butn-dark {
  border: 1px solid #EEEEEE;
  color: #EEEEEE;
  transition: all 0.3s ease;
}
.butn-dark:hover {
  background: #c49b66;
  color: #EEEEEE;
  transition: all 0.3s ease;
}

.butn-light {
  background: #EEEEEE;
  color: #c49b66;
  border: 1px solid #EEEEEE;
  transition: all 0.3s ease;
}
.butn-light:hover {
  background: #c49b66;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  transition: all 0.3s ease;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.bgColor {
  background-color: #222222;
}

.navColor {
  color: #c49b66 !important;
}

#nav-bar {
  background: #000000;
}
#nav-bar .container .nav-bar-items .logo {
  font-size: 20px;
  color: #EEEEEE;
  padding: 15px 0px;
}
#nav-bar .container .nav-bar-items .logo h1::-moz-selection {
  color: #c49b66;
  background-color: black;
}
#nav-bar .container .nav-bar-items .logo h1::selection {
  color: #c49b66;
  background-color: black;
}
#nav-bar .container .nav-bar-items .nav-items ul li {
  margin: 25px 0px;
  padding: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
#nav-bar .container .nav-bar-items .nav-items ul li a {
  color: #EEEEEE;
  text-decoration: none;
  transition: all 0.5s ease;
}
#nav-bar .container .nav-bar-items .nav-items ul li a:hover {
  color: #c49b66;
  transition: all 0.5s ease;
}
#nav-bar .container .nav-bar-items .nav-items ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #c49b66;
  transition: width 0.2s;
  border-radius: 5px;
}
#nav-bar .container .nav-bar-items .nav-items ul li a:hover::after {
  width: 100%;
}

#home {
  background: #000000;
  min-height: 110vh;
}
#home .container .row .greeter {
  color: #eee;
  margin-top: 15%;
}
#home .container .row .greeter h2 {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 4px;
}
#home .container .row .greeter .headline {
  margin: 15px 0px;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
#home .container .row .greeter .headline .greet-item {
  color: #c49b66;
}

#about {
  background: #161617;
}
#about .container .row .about-me .skills {
  padding: 100px 0;
}
#about .container .row .about-me .skills .about-head {
  margin-bottom: 80px;
}
#about .container .row .about-me .skills .about-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
  transition: all 0.4s ease-in-out;
}
#about .container .row .about-me .skills .about-head h4:hover {
  color: #c49b66;
  transition: all 0.4s ease-in-out;
}
#about .container .row .about-me .skills .skill-item h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
}
#about .container .row .about-me .skills .skill-item .skill-progress {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 20px;
  background: rgb(51, 51, 51);
}
#about .container .row .about-me .skills .skill-item .skill-progress .progres {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #c49b66;
  border-radius: 20px;
  color: #fff;
}
#about .container .row .about-me .skills .skill-item .skill-progress .progres::after {
  content: attr(data-value);
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}
#about .container .row .img-me {
  background: url(../image/image_me.jpeg);
  background-position: 40%;
}

html {
  scroll-behavior: smooth;
}