html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ac-center {
  align-content: center;
}

.as-center {
  align-self: center;
}

.font-Rubik {
  font-family: "Rubik", sans-serif;
}

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.nav-hover-color {
  color: #c49b66;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
}

.full-width {
  width: 100% !important;
}

.home-headline {
  line-height: 1.2;
}

.butn {
  padding: 12px 34px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}
.butn:hover {
  text-decoration: none;
}

.submit-butn {
  float: right;
  padding: 12px 34px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #eee;
  background: #c49b66;
  border: none;
  transition: all 0.3s ease;
}
.submit-butn:hover {
  background: #EEEEEE;
  color: #c49b66;
  transition: all 0.3s ease;
}
.submit-butn:active {
  outline: none;
}

.butn-dark {
  border: 1px solid #EEEEEE;
  color: #EEEEEE;
  transition: all 0.3s ease;
}
.butn-dark:hover {
  background: #c49b66;
  color: #EEEEEE;
  transition: all 0.3s ease;
}

.butn-light {
  background: #EEEEEE;
  color: #c49b66;
  border: 1px solid #EEEEEE;
  transition: all 0.3s ease;
}
.butn-light:hover {
  background: #c49b66;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  transition: all 0.3s ease;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-padding {
  padding: 120px 0;
}

.bgColor {
  background-color: #222222;
}

.navColor {
  color: #c49b66 !important;
}

.box-shadow:hover {
  box-shadow: 0px 0px 5px 2px rgb(196, 155, 102);
  transition: all 0.3s ease;
}

.transition-3-ease {
  transition: all 0.3s ease;
}

#nav-bar {
  background: #000000;
}
#nav-bar .container .nav-bar-items .logo {
  font-size: 20px;
  color: #EEEEEE;
  padding: 15px 0px;
}
#nav-bar .container .nav-bar-items .logo h1::-moz-selection {
  color: #c49b66;
  background-color: black;
}
#nav-bar .container .nav-bar-items .logo h1::selection {
  color: #c49b66;
  background-color: black;
}
#nav-bar .container .nav-bar-items .nav-items ul li {
  margin: 25px 0px;
  padding: 8px;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
#nav-bar .container .nav-bar-items .nav-items ul li a {
  color: #EEEEEE;
  text-decoration: none;
  transition: all 0.5s ease;
}
#nav-bar .container .nav-bar-items .nav-items ul li a:hover {
  color: #c49b66;
  transition: all 0.5s ease;
}
#nav-bar .container .nav-bar-items .nav-items ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #c49b66;
  transition: width 0.2s;
  border-radius: 5px;
}
#nav-bar .container .nav-bar-items .nav-items ul li a:hover::after {
  width: 100%;
}

#home {
  background: #000000;
  min-height: 110vh;
}
#home .container .row .greeter {
  color: #eee;
  margin-top: 15%;
}
#home .container .row .greeter h2 {
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 4px;
}
#home .container .row .greeter .headline {
  margin: 15px 0px;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
#home .container .row .greeter .headline .greet-item {
  color: #c49b66;
}

#about {
  background: #161617;
}
#about .container .row .about-me-skill .skills {
  padding: 100px 0;
}
#about .container .row .about-me-skill .skills .about-head {
  margin-bottom: 80px;
}
#about .container .row .about-me-skill .skills .about-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
  transition: all 0.4s ease-in-out;
}
#about .container .row .about-me-skill .skills .about-head h4:hover {
  color: #c49b66;
  transition: all 0.4s ease-in-out;
}
#about .container .row .about-me-skill .skills .skill-item h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
}
#about .container .row .about-me-skill .skills .skill-item .skill-progress {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 20px;
  background: rgb(51, 51, 51);
}
#about .container .row .about-me-skill .skills .skill-item .skill-progress .progres {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #c49b66;
  border-radius: 20px;
  color: #fff;
}
#about .container .row .about-me-skill .skills .skill-item .skill-progress .progres::after {
  content: attr(data-value);
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}
#about .container .row .img-me {
  background: url(../image/image_me.jpeg);
  background-position: 40%;
  background-repeat: no-repeat;
  min-height: 100%;
}
#about .container .row .about-me {
  padding: 100px 0;
}
#about .container .row .about-me .content {
  margin-left: 10px;
}
#about .container .row .about-me .content h6 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
  color: #fff;
}
#about .container .row .about-me .content h4 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 40px;
  background: #c49b66;
  padding: 5px 10px;
}
#about .container .row .about-me .content h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
#about .container .row .about-me .content p {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #8f8f8f;
  line-height: 1.8;
}
#about .container .row .about-me .content .socials span {
  position: relative;
  padding-right: 50px;
  color: #c49b66;
  font-size: 12px;
}
#about .container .row .about-me .content .socials span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #eee;
  right: 0px;
  top: 50%;
}
#about .container .row .about-me .content .socials a {
  font-size: 12px;
  margin: 0px 10px;
  transition: all 0.3s ease;
  color: #fff;
}
#about .container .row .about-me .content .socials a:hover {
  transition: all 0.3s ease;
  color: #c49b66;
  text-decoration: none;
}

#services {
  background: #0F0F0F;
}
#services .container .row .section-head {
  margin-bottom: 80px;
}
#services .container .row .section-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
  transition: all 0.3s ease;
}
#services .container .row .section-head h4:hover {
  color: #c49b66;
  transition: all 0.3s ease;
}
#services .container .row .item {
  text-align: center;
  padding: 50px 20px;
  background: #0a0a0c;
}
#services .container .row .item .icon {
  position: relative;
  display: inline-block;
  color: #c49b66;
  font-size: 45px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  margin-bottom: 30px;
  z-index: 5;
  transition: all 0.4s ease-out;
}
#services .container .row .item .icon:hover::after {
  border-radius: 30px;
  transform: rotate(90deg);
  transition: all 0.4s ease-out;
}
#services .container .row .item .icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: rgba(200, 200, 200, 0.05);
  transform: rotate(45deg);
}
#services .container .row .item h6 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: #fff;
}
#services .container .row .item p {
  font-size: 14px;
  color: #8f8f8f;
  margin: 0;
  line-height: 1.8;
}

#education {
  background: #161617;
}
#education .education-head {
  margin-bottom: 80px;
}
#education .education-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
  transition: all 0.3s ease;
}
#education .education-head h4:hover {
  color: #c49b66;
  transition: all 0.3s ease;
}
#education .education-content .container .row .col-6 .education-item-1 {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
}
#education .education-content .container .row .col-6 .education-item-1 .education-item-head {
  color: #c49b66;
}
#education .education-content .container .row .col-6 .education-item-1 .education-item-date {
  color: #eee;
  opacity: 0.9;
}
#education .education-content .container .row .col-6 .education-item-1 .education-item-title {
  color: #8f8f8f;
  line-height: 1.75em;
  font-size: 18px;
}
#education .education-content .container .row .col-6 .education-item-1::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #eee;
  width: 14px;
  height: 14px;
  z-index: 5;
  right: -24px;
  top: 40%;
  background: #c49b66;
}
#education .education-content .container .row .col-6 .education-item-2 {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
}
#education .education-content .container .row .col-6 .education-item-2 .education-item-head {
  color: #c49b66;
}
#education .education-content .container .row .col-6 .education-item-2 .education-item-date {
  color: #eee;
  opacity: 0.9;
}
#education .education-content .container .row .col-6 .education-item-2 .education-item-title {
  color: #8f8f8f;
  line-height: 1.75em;
  font-size: 18px;
}
#education .education-content .container .row .col-6 .education-item-2::before {
  content: "";
  position: absolute;
  width: 2px;
  left: -16px;
  top: 10px;
  bottom: 10px;
  background-color: #eee;
}

#blog {
  background: #0F0F0F;
}
#blog .container .row .blog-head {
  margin-bottom: 80px;
}
#blog .container .row .blog-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
}
#blog .container .row .blog-head h4:hover {
  color: #c49b66;
}
#blog .container .row .col-lg-4 .item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}
#blog .container .row .col-lg-4 .item img {
  width: 100%;
  height: auto;
  filter: blur(2px);
  transition: all 0.3s ease;
}
#blog .container .row .col-lg-4 .item img:hover {
  filter: blur(0px);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
#blog .container .row .col-lg-4 .item .content {
  position: absolute;
  padding: 30px;
  bottom: -20px;
  left: 0;
  width: 100%;
}
#blog .container .row .col-lg-4 .item .content .data {
  color: #c49b66;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#blog .container .row .col-lg-4 .item .content .data .data-item-1 {
  position: relative;
  margin-right: 10px;
  color: #c49b66;
  font-size: 11px;
  text-decoration: none;
}
#blog .container .row .col-lg-4 .item .content .data .data-item-1::after {
  content: "/";
  position: relative;
  margin-left: 10px;
}
#blog .container .row .col-lg-4 .item .content .data .data-item-2 {
  position: relative;
  margin-right: 10px;
  color: #c49b66;
  font-size: 11px;
  text-decoration: none;
}
#blog .container .row .col-lg-4 .item .content h5 {
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  font-size: 25px;
}
#blog .container .row .col-lg-4 .item .content h5 a {
  text-decoration: none;
  color: #fff;
}

#contact {
  background: #161617;
  padding: 100px 0px;
}
#contact .container .row .contact-head {
  margin-bottom: 80px;
}
#contact .container .row .contact-head h4 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #222;
}
#contact .container .row .contact-head h4:hover {
  color: #c49b66;
}
#contact .container .row .col-lg-5 .info {
  padding-top: 30px;
}
#contact .container .row .col-lg-5 .info .item {
  margin-bottom: 30px;
}
#contact .container .row .col-lg-5 .info .item .contact-item h6 {
  color: #c49b66;
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#contact .container .row .col-lg-5 .info .item .contact-item p {
  color: #8f8f8f;
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group {
  margin-bottom: 1rem;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group input {
  border: 0;
  background: #222;
  color: #fff;
  width: 100%;
  border-radius: 30px;
  padding: 15px;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group input:focus {
  outline: none;
  background: #c49b66;
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group input:focus::-moz-placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group input:focus:-ms-input-placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-6 .form-group input:focus::placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group {
  margin-bottom: 1rem;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group input {
  border: 0;
  background: #222;
  color: #fff;
  width: 100%;
  border-radius: 30px;
  padding: 15px;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group input:focus {
  outline: none;
  background: #c49b66;
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group input:focus::-moz-placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group input:focus:-ms-input-placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group input:focus::placeholder {
  color: #eee;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group textarea {
  height: 160px;
  max-height: 160px;
  width: 100%;
  border-radius: 10px;
  background: #222;
  color: #eee;
  padding: 15px;
  border: 0;
}
#contact .container .row .col-lg-7 form .container .row .col-md-12 .form-group textarea:focus {
  outline: none;
}

footer {
  padding: 80px 0px;
  background: #0F0F0F;
}
footer .container .logo h1 {
  color: #eee;
}
footer .container .socials a {
  position: relative;
  color: #c49b66;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 15px 10px;
  font-size: 25px;
  transition: all 0.3s ease;
  z-index: 5;
}
footer .container .socials a:hover {
  text-decoration: none;
  color: #eee;
  transition: all 0.3s ease;
}
footer .container .socials p {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}