html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.ac-center {
  align-content: center;
}

.as-center {
  align-self: center;
}

.text-center {
  text-align: center;
}

.font-Rubik {
  font-family: "Rubik", sans-serif;
}

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.nav-hover-color {
  color: #c49b66;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
}

.btn {
  color: #EEEEEE;
  padding: 12px 34px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-dark {
  background: transparent;
  border: 1px solid #eee;
  transition: all 0.4s ease;
}
.btn-dark:hover {
  border: 1px solid #c49b66;
}

.btn-light {
  background: #EEEEEE;
  color: #c49b66;
  overflow: hidden;
  border: 1px solid #EEEEEE;
}
.btn-light:hover {
  border: 1px solid #EEEEEE;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.bgColor {
  background-color: #222222;
}

.navColor {
  color: #c49b66 !important;
}

#home {
  background: #000000;
  width: 100%;
  min-height: 110vh;
}
#home #nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
#home #nav-bar .nav-bar-items .logo {
  font-size: 30px;
  color: #EEEEEE;
  margin-top: 25px;
}
#home #nav-bar .nav-bar-items .logo h1::-moz-selection {
  color: #c49b66;
  background: #000000;
}
#home #nav-bar .nav-bar-items .logo h1::selection {
  color: #c49b66;
  background: #000000;
}
#home #nav-bar .nav-bar-items .nav-items {
  margin-top: 20px;
}
#home #nav-bar .nav-bar-items .nav-items ul {
  list-style: none;
}
#home #nav-bar .nav-bar-items .nav-items ul li {
  font-size: 13px;
  margin: 15px 5px;
}
#home #nav-bar .nav-bar-items .nav-items ul li a {
  text-decoration: none;
  margin: 15px 5px;
  padding: 8px;
  color: #EEEEEE;
  transition: all 0.3s ease;
}
#home #nav-bar .nav-bar-items .nav-items ul li a:hover {
  color: #c49b66;
  transition: all 0.3s ease;
}
#home #nav-bar .nav-bar-items .nav-items ul li a:active {
  color: #c49b66;
}
#home #nav-bar .nav-bar-items .nav-items ul li a:enabled {
  color: #c49b66;
}
#home .welcome {
  color: #EEEEEE;
  margin-top: 15%;
}
#home .welcome h2 {
  letter-spacing: 4px;
  font-size: 70px;
  font-weight: 300;
}
#home .welcome .headline {
  font-size: 60px;
  color: #EEEEEE;
  font-weight: 600;
  padding-top: 20px;
}
#home .welcome .buttons {
  margin-top: 60px;
}
#home .welcome .buttons a {
  transition: all 0.4s ease;
}
#home .welcome .buttons a:hover {
  color: #EEEEEE;
  background: #c49b66;
  transition: all 0.4s ease;
}

#about {
  background: #161617;
}
#about .about-items {
  margin-left: 120px;
}
#about .about-items .about-item1 .skills {
  padding: 100px 0px;
}
#about .about-items .about-item1 .skills .about-title {
  margin-bottom: 80px;
  position: relative;
}
#about .about-items .about-item1 .skills .about-title h4 {
  font-size: 70px;
  font-weight: 800;
  font-family: inherit;
  letter-spacing: 2px;
  color: #222;
  line-height: 1.2;
  transition: all 0.4s ease;
}
#about .about-items .about-item1 .skills .about-title h4:hover {
  color: #c49b66;
  transition: all 0.4s ease;
}
#about .about-items .about-item1 .skills .skill-item h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #eee;
}
#about .about-items .about-item1 .skills .skill-item .skill-progress {
  position: relative;
  height: 8px;
  width: 350px;
  background-color: #333333;
  border-radius: 20px;
}
#about .about-items .about-item1 .skills .skill-item .skill-progress .progress {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #c49b66;
}
#about .about-items .about-item1 .skills .skill-item .skill-progress .progress::after {
  content: attr(data-value);
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 11px;
  font-family: "Josefin Sans", sans-serif;
  color: #eee;
}
#about .about-items .about-item2 {
  margin-left: 30px;
  box-sizing: border-box;
}
#about .about-items .about-item2 .img-me {
  width: 380px;
  height: 633px;
  background: url("../image/image_me.jpeg") no-repeat;
  background-size: cover;
  background-position: 35%;
}
#about .about-items .about-item3 .content {
  padding: 100px 0px;
  margin-left: 15px;
  color: #fff;
}
#about .about-items .about-item3 .content h6 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10px;
}
#about .about-items .about-item3 .content h4 {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #EEEEEE;
  background: #c49b66;
  padding: 5px 10px;
  margin-bottom: 40px;
}
#about .about-items .about-item3 .content h5 {
  font-size: 18px;
  font-weight: 500;
}
#about .about-items .about-item3 .content p {
  color: #8f8f8f;
  line-height: 1.8;
  font-size: 15px;
}
#about .about-items .about-item3 .content .social .follow {
  position: relative;
  padding-right: 50px;
  color: #c49b66;
  font-size: 12px;
}
#about .about-items .about-item3 .content .social .follow::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 50%;
}
#about .about-items .about-item3 .content .social a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin: 0 10px;
  transition: all 0.3s ease;
}
#about .about-items .about-item3 .content .social a:hover {
  color: #c49b66;
  transition: all 0.3s ease;
}

#services {
  padding: 120px 0;
  background: #0F0F0F;
}
#services .services-head {
  position: relative;
  margin-bottom: 80px;
}
#services .services-head h4 {
  font-size: 70px;
  font-weight: 800;
  font-family: inherit;
  letter-spacing: 2px;
  color: #222;
  transition: all 0.4s;
}
#services .services-items .services-item {
  background: #0a0a0c;
  text-align: center;
  margin: 50px 20px;
  width: 255px;
  height: 325px;
}

html {
  scroll-behavior: smooth;
}