.flex{
    display: flex;
};

.jc-center{
    justify-content: center;
};

.jc-space-around{
    justify-content: space-around;
};

.jc-space-between{
    justify-content: space-between;
};

.jc-space-evenly{
    justify-content: space-evenly;
};

.text-center{
    text-align: center;
};

.font-Rubik{
    font-family: 'Rubik', sans-serif;
};

.font-Josefin{
    font-family: 'Josefin Sans', sans-serif;
};

.nav-hover-color{
    color: $nav-bar-hover-color;
};

.is-hidden{
    display: none;
};

.is-visible{
    display: inline-block;
};