.flex{
    display: flex;
};

.jc-center{
    justify-content: center;
};

.jc-space-around{
    justify-content: space-around;
};

.jc-space-between{
    justify-content: space-between;
};

.jc-space-evenly{
    justify-content: space-evenly;
};