// colors
$nav-bar-bc: #000000;
$nav-bar-color: #EEEEEE;
$nav-bar-hover-color: #c49b66;
$progress-bc: #333333;
$p-color: #8f8f8f;
$about-bc: #161617;
$about-content-color: #fff;
$services-bg: #0F0F0F;
$services-item-bg: #0a0a0c;