#about{
    background: $about-bc;
    .about-items{
        margin-left: 120px;
        .about-item1{
            .skills{
                padding: 100px 0px;
                .about-title{
                    margin-bottom: 80px;
                    position: relative;
                    h4{
                        font-size: 70px;
                        font-weight: 800;
                        font-family: inherit;
                        letter-spacing: 2px;
                        color: #222;
                        line-height: 1.2;
                        transition: all .4s ease;
                        &:hover{
                            color: $nav-bar-hover-color;
                            transition: all .4s ease;
                        }
                    }
                }
            }
        }
        .about-item2{
            margin-left: 120px;
            max-height: 632.17px;
            box-sizing: border-box;
            .img-me{
            width: 380px;
            height: 632.17px;
            background: url('../image/image_me.jpeg') no-repeat;
            background-size: cover;
            background-position: 35%;
            }
        }
        .about-item3{
            .content{
                padding: 100px 0px;
                margin-left: 15px;
                color: $about-content-color;
                h6{
                    font-size: 12px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 8px;
                    margin-bottom: 10px;
                }
                h4{
                    display: inline-block;
                    font-size: 30px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    color: $nav-bar-color;
                    background: $nav-bar-hover-color;
                    padding: 5px 10px;
                    margin-bottom: 40px;
                }
                h5{
                    font-size: 18px;
                    font-weight: 500;
                }
                p{
                    color: $p-color;
                    line-height: 1.8;
                    font-size: 15px;
                }
            }
        }
    }
}