#contact{
    background: $education-bg;
    padding: 100px 0px;
    .container{
        .row{
            .contact-head{
                margin-bottom: 80px;
                h4{
                    font-size: 70px;
                    font-weight: 800;
                    letter-spacing: 2px;
                    color: $section-head-color;
                    &:hover{
                        color: $nav-bar-hover-color;
                    }
                }
            }
            .col-lg-5{
                .info{
                    padding-top: 30px;
                    .item{
                        margin-bottom: 30px;
                        .contact-item{
                            h6{
                                color: $nav-bar-hover-color;
                                margin-bottom: 5px;
                                font-size: 11px;
                                font-weight: 400;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                            }
                            p{
                                color: $p-color;
                                font-size: 15px;
                                line-height: 1.8;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .col-lg-7{
                form{
                    .container{
                        .row{
                            .col-md-6{
                                .form-group{
                                    margin-bottom: 1rem;
                                    input{
                                        border: 0;
                                        background: #222;
                                        color: #fff;
                                        width: 100%;
                                        border-radius: 30px;
                                        padding: 15px;
                                    }
                                }
                            }
                            .col-md-12{
                                .form-group{
                                    margin-bottom: 1rem;
                                    input{
                                        border: 0;
                                        background: #222;
                                        color: #fff;
                                        width: 100%;
                                        border-radius: 30px;
                                        padding: 15px;
                                    }
                                    textarea{
                                        height: 160px;
                                        max-height: 160px;
                                        width: 100%;
                                        border-radius: 10px;
                                        background: #222;
                                        color: #eee;
                                        padding: 15px;
                                        border: 0;
                                    }
                                    .butn{
                                        border-radius: 30px;
                                        color: #eee;
                                        background: $nav-bar-hover-color !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}