footer{
    padding: 80px 0px;
    background: $bg-dark;
    .container{
        .logo{
            h1{
                color: #eee;
            }
        }
        .socials{
            a{
                color: $nav-bar-hover-color;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin: 15px 10px;
                font-size: 25px;
                transition: all .3s ease;
                &:hover{
                    text-decoration: none;
                    color: #eee;
                    transition: all .3s ease;
                }
            }
            p{
                color: $footer-p-color;
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}