#home{
    background: $nav-bar-bc;
    min-height: 110vh;
    .container{
        .row{
            .greeter{
                color: #eee;
                margin-top: 15%;
                h2{
                    font-size: 70px;
                    font-weight: 300;
                    letter-spacing: 4px;
                }
                .headline{
                    margin: 15px 0px;
                    font-size: 60px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    .greet-item{
                        color: $nav-bar-hover-color;
                    }
                }
            }
        }
    }
}