#services{
    padding: 120px 0;
    background: $services-bg;
    .services-head{
        position: relative;
        margin-bottom: 80px;
        h4{
            font-size: 70px;
            font-weight: 800;
            letter-spacing: 2px;
            color: #222;
            transition: all .4s;
        }
    }
    .services-items{
        .services-item{
            background: $services-item-bg;
            text-align: center;
            margin: 50px 20px;
            width: 255px;
            height: 325px;
        }
    }
}